.footer{
    width: 100%;
    background-color: var(--dark-bg);
    padding: var(--16px) var(--40px);
    display: flex;
    justify-content: center;
}
.footerContainer{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.avatarImg{
    width: 30px;
    height: 30px;
    border-radius: var(--4px);
    background: linear-gradient(145deg,#6DE997,#09AE41);
}
.avatarImg img{
    width: 100%;
    height: 100%;
}
.avatarBox p{
    font-size: var(--20px);
    color: var(--light-text-color);
    font-weight: 300;
}
.socialLinks .iconBox{
    cursor: pointer;
}
.socialLinks .iconBox svg{
    width: 30px;
    height: 30px;
    color: var(--light-text-color);
}
.socialLinks .iconBox:hover svg{
    color: var(--primary-color);
}

/* Responsive Css */

@media (max-width: 430px){
    .avatarBox p{
        font-size: var(--16px);
    }
}