---
import '../assets/css/style.css'
import '../assets/css/heroSection.css'
---
<section class="heroSection">
    <div class="flex flex-col heroContainer items-center">
        <div class="bgMash">
            <span class="bgMash1"></span>
            <span class="bgMash2"></span>
        </div>
        <div class="flex flex-col heroImageNameBox gap-16 items-center">
            <div class="heroAvatar">
                <img src="heroAvatar.png" alt="Hero Image" class="heroImage">
            </div>
            <h1 class="heroName">Anuj Chaudhary</h1>
        </div>
        <div class="flex flex-col heroDetailsBtnContainer items-center">
            <div class="flex flex-col gap-12 items-center heroDetailsBox">
                <h1 class="heroTitle">UI/UX Designer</h1>
                <h3 class="heroDescription">with 3 years of experience crafting user-centered web and mobile designs.</h3>
            </div>
            <div class="flex gap-12">
                <button class="ctaBtn ctaBtnPrimary btn">Hire Me</button>
                <!-- <button class="ctaBtn ctaBtnsecondary">Resume</button> -->
            </div>  
        </div>      
    </div>
</section>