<section class="projectSecion">
    <div class="projHeader flex items-center justify-center">
        <h2 class="sectionTitle">Projects</h2>
    </div>
    <div class="projectContainer flex pC1">
        <div class="projectContentBox flex flex-col justify-center ">
            <div class="contentBox flex flex-col gap-20">
                <h3 class="projectName">Pronnel</h3>
                <p class="projectDescription">Pronnel is a Data Management Application designed for Customer Support, Agile Methodology, Business Development.</p>
            </div>
            <div class="linkBtnBox">
                <button class="btn linkBtn">
                    Figma
                </button>
            </div>
        </div>
        <div class="projectImageBox"></div>
    </div>
    <div class="projectContainer flex pC2">
        <div class="projectImageBox"></div>
        <div class="projectContentBox flex flex-col justify-center ">
            <div class="contentBox flex flex-col gap-20">
                <h3 class="projectName">Pronnel</h3>
                <p class="projectDescription">Pronnel is a Data Management Application designed for Customer Support, Agile Methodology, Business Development.</p>
            </div>
            <div class="linkBtnBox">
                <button class="btn linkBtn">
                    Figma
                </button>
            </div>
        </div>
    </div>
    <div class="projectContainer flex pC3">
        <div class="projectContentBox flex flex-col justify-center ">
            <div class="contentBox flex flex-col gap-20">
                <h3 class="projectName">Pronnel</h3>
                <p class="projectDescription">Pronnel is a Data Management Application designed for Customer Support, Agile Methodology, Business Development.</p>
            </div>
            <div class="linkBtnBox">
                <button class="btn linkBtn">
                    Figma
                </button>
            </div>
        </div>
        <div class="projectImageBox"></div>
    </div>
</section>