<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/heroAvatar.png" />
		<meta property="og:title" content="Anuj Chaudhary | Portfolio" />
		<meta property="og:description" content="UI/UX Desiger | Web Designer And Developer | Mobile App Design" />
		<meta property="og:image" content="https://anuj-chaudhary.netlify.app/heroAvatar.png" />
		<meta property="og:url" content="https://anuj-chaudhary.netlify.app/" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Anuj Chaudhary | Portfolio" />
		<meta name="twitter:description" content="UI/UX Desiger | Web Designer And Developer | Mobile App Design" />
		<meta name="twitter:image" content="https://anuj-chaudhary.netlify.app/heroAvatar.png" />
		<meta name="generator" content="UI/UX Desiger | Web Designer And Developer | Mobile App Design" />
		<title>Anuj Chaudhary</title>
		<!-- <link rel="stylesheet" href="src/assets/css/style.css" />
		<link rel="stylesheet" href="src/assets/css/heroSection.css" />
		<link rel="stylesheet" href="src/assets/css/projectSection.css" /> -->
	</head>
	<body>
		<slot />
	</body>
</html>
